aiohttp==3.8.6
aiosignal==1.3.1
altair==5.1.2
annotated-types==0.6.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
Babel==2.13.1
beautifulsoup4==4.12.2
blinker==1.7.0
bs4==0.0.1
cachetools==5.3.2
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
dacite==1.8.1
dataclasses-json==0.6.2
distro==1.8.0
entrypoints==0.4
Faker==20.0.3
favicon==0.7.0
fonttools==4.44.0
frozenlist==1.4.0
gitdb==4.0.11
GitPython==3.1.40
greenlet==3.0.1
h11==0.14.0
htbuilder==0.6.2
html5lib==1.1
httpcore==1.0.2
httpx==0.25.1
idna==3.4
ImageHash==4.3.1
importlib-metadata==6.8.0
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
-e git+https://github.com/buenavista62/kickbase-api-extended.git@8af0e31fc9a69aeccbd51c221560e5b1fc980faf#egg=Kickbase_API
kiwisolver==1.4.5
langchain==0.0.336
langchain-experimental==0.0.41
langsmith==0.0.64
lxml==4.9.3
Markdown==3.5.1
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.1
mdurl==0.1.2
more-itertools==10.1.0
mplsoccer==1.2.2
multidict==6.0.4
multimethod==1.10
mypy-extensions==1.0.0
networkx==3.2.1
numpy==1.26.2
openai==1.3.0
packaging==23.2
pandas==2.1.3
patsy==0.5.3
phik==0.12.3
Pillow==10.1.0
plotly==5.18.0
protobuf==4.25.0
pyarrow==14.0.1
pydantic==2.4.2
pydantic_core==2.10.1
pydeck==0.8.0
Pygments==2.16.1
pymdown-extensions==10.4
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==6.0.1
referencing==0.30.2
requests==2.31.0
rich==13.6.0
rpds-py==0.12.0
scikit-learn==1.3.2
scipy==1.11.3
seaborn==0.13.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.23
st-annotated-text==4.0.1
st-pages==0.4.5
statsmodels==0.14.0
streamlit==1.28.1
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.5
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tenacity==8.2.3
threadpoolctl==3.2.0
toml==0.10.2
toolz==0.12.0
tornado==6.3.3
tqdm==4.66.1
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
Unidecode==1.3.7
urllib3==2.0.7
validators==0.22.0
visions==0.7.5
watchdog==3.0.0
webencodings==0.5.1
wordcloud==1.9.2
yarl==1.9.2
zipp==3.17.0
